.table-container{
    padding: 20px;
    background: #fff;
    margin-top: 40px;
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: center;
}

tr,th,td{
    border: 1px solid #ddd;
    padding: 6px;
}

thead{
    color:#013365;
    font-size: 18px;
    
}
tbody{
    font-size: 14px;
    color: black;
}
i{
    color: #013365;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    h1{
        text-align: center;
        margin-bottom: 20px;
    }
    .table-container{
        max-width: 700px;
        margin: auto;
    }
}

@media only screen and (max-width: 650px){
	/* Force table to not be like tables anymore */
    .table-container{
        max-width: 450px;
    }
	table, thead, tbody, th, td, tr { 
		display: block; 
        
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
        border: 1px solid #ccc; 
    }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
    td:nth-of-type(1):before { content: "S.No"; }
	td:nth-of-type(2):before { content: "Name"; }
	td:nth-of-type(3):before { content: "Email"; }
	td:nth-of-type(4):before { content: "Address"; }
	td:nth-of-type(5):before { content: "Phone"; }
	td:nth-of-type(6):before { content: "Delete"; }

    td{
        text-align: start;
    }
    td::before{
        font-weight: 600;
        font-size: medium;
        color: #013365;
    }
	
}